{% extends "layout.html" %} {% block body %}
<main class="mdl-layout__content">
    <div class="page-content">
        <br>

        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--4-col">
                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                    <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric">Public Key</th>
                            <th class="mdl-data-table__cell--non-numeric">Timezone</th>
                            <th class="mdl-data-table__cell--non-numeric">Address</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if accounts is not none %} {% for acc in accounts %}
                        <tr>
                            <td id="{{acc.public_key | shorten_key}}" class="mdl-data-table__cell--non-numeric" onclick="copyToClipboard('{{acc.public_key | shorten}}copy')">{{acc.public_key | shorten_key}}
                                <div class="mdl-tooltip" data-mdl-for="{{acc.public_key | shorten_key}}" id="{{acc.public_key | shorten }}copy">
                                    {{acc.public_key}}
                                </div>
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">{{acc.timezone}}</td>
                            <td class="mdl-data-table__cell--non-numeric">
                                <form action="{{ url_for('public.account_by_address') }}" method="post">
                                    <button id="{{acc.address | shorten}}" type="submit" name="submit" value="{{acc.address}}" class="mdl-chip" onclick="copyToClipboard('{{acc.address | shorten}}copy')">
                                      <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white material-icons">
                                      fingerprint
                                      </span>
                                      <span class="mdl-chip__text">{{acc.address | shorten}}</span>
                                    </button>
                                    <div class="mdl-tooltip" data-mdl-for="{{acc.address | shorten}}" id="{{acc.address | shorten}}copy">
                                        {{acc.address}}
                                    </div>
                                </form>
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">Nothing yet</td>
                        </tr>
                        {% endfor %} {% else %}
                        <tr>
                            <td>No Accounts Created Yet</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
            <div class="mdl-cell mdl-cell--4-col">
                {% if newaccount %}
                <div class="demo-card-square mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title mdl-card--expand">
                        <h2 class="mdl-card__title-text">New Account Address: {{newaccount.address | shorten}}</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <h6>Public_key</h6>
                        <p style="word-wrap:break-word">{{newaccount.public_key}}
                        </p>
                        <img style="width:150px" src="data:image/png;base64,{{new_acct_pubkey_qr | safe}}" />

                        <h6>Full Address</h6>
                        {{newaccount.address}}<br/>
                        <img style="width:150px" src="data:image/png;base64,{{new_acct_addr_qr | safe}}" />
                        <ul class="demo-list-two mdl-list">
                            {% for key, value in newaccount.metadata.iteritems() %}
                            <li class="mdl-list__item mdl-list__item--two-line">
                                <span class="mdl-list__item-primary-content">
                                <span>{{key}}</span>
                                <span class="mdl-list__item-sub-title">{{value}}</span>
                                </span>
                                </span>
                            </li>
                            {% else %}
                            <li>No Metadata Available</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% else %}
                <div></div>
                {% endif %}
            </div>

            <div class="mdl-cell mdl-cell--4-col">
                {% if accinfo %}
                <div class="demo-card-square mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title mdl-card--expand">
                        <h2 class="mdl-card__title-text">Account Address: {{accinfo.address | shorten}}</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <h6>Public key</h6>
                        <p style="word-wrap:break-word">{{accinfo.public_key}}
                        </p>
                        <img style="width:150px" src="data:image/png;base64,{{pubkey_qr | safe}}" />

                        <h6>Full Address</h6>
                        {{accinfo.address}}<br/>
                        <img style="width:150px" src="data:image/png;base64,{{addr_qr | safe}}" />
                        <ul class="demo-list-two mdl-list">
                            {% for key, value in accinfo.metadata.iteritems() %}
                            <li class="mdl-list__item mdl-list__item--two-line">
                                <span class="mdl-list__item-primary-content">
                                <span>{{key}}</span>
                                <span class="mdl-list__item-sub-title">{{value}}</span>
                                </span>
                                </span>
                            </li>
                            {% else %}
                            <li>No Metadata Available</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% else %}
                <div></div>
                {% endif %}
            </div>
        </div>
    </div>
    <form action="{{ url_for('public.create_account')}}" method="post">
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored circle-btn" type="submit" name="submit" value="create_account">
            <i class="material-icons">add</i>
        </button>
    </form>

</main>

<script>
    // Click to copy for addresses
    function copyToClipboard(elementId) {
        var aux = document.createElement("input");
        aux.setAttribute("value", document.getElementById(elementId).innerHTML);
        document.body.appendChild(aux);
        aux.select();
        document.execCommand("copy");
        document.body.removeChild(aux);
    }
</script>

{% endblock %}