{% extends "layout.html" %} {% block body %}
<main class="mdl-layout__content">
    <div class="page-content">
        <br>

        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--8-col">
                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                    <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric">Timestamp</th>
                            <th class="mdl-data-table__cell--non-numeric">From Address</th>
                            <th class="mdl-data-table__cell--non-numeric">From Public Key</th>
                            <th class="mdl-data-table__cell--non-numeric">Transaction Type</th>
                            <th class="mdl-data-table__cell--non-numeric">Action</th>
                            <th class="mdl-data-table__cell--non-numeric">From</th>
                            <th>Balance</th>
                            <th class="mdl-data-table__cell--non-numeric">To</th>
                            <th class="mdl-data-table__cell--non-numeric">Created Address</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tx in transactions %}
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">{{tx.timestamp | datetimeformat}}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{tx.from | shorten}} </td>
                            <td class="mdl-data-table__cell--non-numeric">{{tx.fromPub | shorten}}</td>
                            {% if tx.header.tag is equalto 'TxAsset' %}
                            <td class="mdl-data-table__cell--non-numeric">Asset</td>
                            <td class="mdl-data-table__cell--non-numeric">{{tx.header.contents.tag}}</td>
                            <td>{{tx.header.contents.contents.fromAddr | shorten}}</td>
                            <td>{{tx.header.contents.contents.balance}}</td>
                            <td>{{tx.header.contents.contents.toAddr | shorten}}</td>
                            <td>--</td>

                            {% endif %} {% if tx.header.tag is equalto 'TxContract' %}
                            <td class="mdl-data-table__cell--non-numeric">Contract</td>
                            <td class="mdl-data-table__cell--non-numeric">{{tx.header.contents.tag}}</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>

                            {% endif %} {% if tx.header.tag is equalto 'TxAddr' %}
                            <td class="mdl-data-table__cell--non-numeric">Address</td>
                            <td class="mdl-data-table__cell--non-numeric">{{tx.header.contents.tag}}</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>{{tx.header.contents.contents | shorten}}</td>
                            {% endif %}
                        </tr>
                        {% else %}
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">Nothing yet</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>

    </div>
</main>
{% endblock %}