{% extends "layout.html" %} {% block body %}
<main class="mdl-layout__content">
    <div class="page-content">
        <br>

        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--8-col">
                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                    <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric">Timestamp</th>
                            <th class="mdl-data-table__cell--non-numeric">From Address</th>
                            <th class="mdl-data-table__cell--non-numeric">From Public Key</th>
                            <th class="mdl-data-table__cell--non-numeric">Transaction Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tx in transactions %}
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">{{tx.timestamp | datetimeformat}}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{tx.from | safe}} </td>
                            <td class="mdl-data-table__cell--non-numeric">{{tx.fromPub | safe}}</td>
                        </tr>
                        {% else %}
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">Nothing yet</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>

    </div>
</main>
{% endblock %}