{% extends "layout.html" %} {% block body %}
<main class="mdl-layout__content">
    <div class="page-content">
        <br>

        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--6-col">
                <h5>Transactions in block {{block_id}}</h5>
                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                    <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric">Timestamp</th>
                            <th class="mdl-data-table__cell--non-numeric">From Address</th>
                            <th class="mdl-data-table__cell--non-numeric">From Public Key</th>
                            <th class="mdl-data-table__cell--non-numeric">Transaction Type</th>
                            <th class="mdl-data-table__cell--non-numeric">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tx in transactions %}
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">{{tx.timestamp | datetimeformat}}</td>

                            <td id="{{tx.from |shorten }}" class="mdl-data-table__cell--non-numeric" onclick="copyToClipboard('{{tx.from | shorten}}copy')">{{tx.from | shorten}}
                                <div class="mdl-tooltip" data-mdl-for="{{tx.from | shorten }}" id="{{tx.from | shorten }}copy">
                                    {{tx.from}}
                                </div>
                            </td>

                            <td id="{{tx.fromPub |shorten }}" class="mdl-data-table__cell--non-numeric" onclick="copyToClipboard('{{tx.fromPub | shorten_key}}copy')">{{tx.fromPub | shorten_key}}
                                <div class="mdl-tooltip" data-mdl-for="{{tx.fromPub | shorten }}" id="{{tx.fromPub | shorten_key }}copy">
                                    {{tx.fromPub}}
                                </div>
                            </td>

                            {% if tx.header.tag is equalto 'TxAsset' %}
                            <td class="mdl-data-table__cell--non-numeric">Asset</td>
                            <td class="mdl-data-table__cell--non-numeric">{{tx.header.contents.tag}}</td>

                            <!--From | Balance | To-->
                            <!--<td>{{tx.header.contents.contents.fromAddr | shorten}}</td>
                            <td>{{tx.header.contents.contents.balance}}</td>
                            <td>{{tx.header.contents.contents.toAddr | shorten}}</td>-->

                            {% endif %} {% if tx.header.tag is equalto 'TxContract' %}
                            <td class="mdl-data-table__cell--non-numeric">Contract</td>
                            <td class="mdl-data-table__cell--non-numeric">{{tx.header.contents.tag}}</td>


                            {% endif %} {% if tx.header.tag is equalto 'TxAccount' %}
                            <td class="mdl-data-table__cell--non-numeric">Address</td>
                            <td class="mdl-data-table__cell--non-numeric">{{tx.header.contents.tag}}</td>

                            <!--Created Account-->
                            <!--<td>{{tx.header.contents.contents.account.address | shorten}}</td>-->

                            {% endif %}
                            <td>
                                {% if tx.header.contents.tag is not equalto 'CreateContract' %}
                                <form action="{{ url_for('show_tx_details') }}" method="post">
                                    <input class="hide" name="block_id" value="{{block_id}}" readonly/>
                                    <button id="{{'{}|{}'.format(tx.timestamp, tx.from)}}" type="submit" name="submit" value="{{tx}}" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                                    <i class="material-icons">pageview</i>
                                    </button>
                                    <div class="mdl-tooltip" data-mdl-for="{{'{}|{}'.format(tx.timestamp, tx.from)}}">
                                        See transactions details
                                    </div>
                                </form>
                                {% endif %}
                            </td>

                        </tr>
                        {% else %}
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">Nothing yet</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            {% if details %}
            <div class="mdl-cell mdl-cell--4-col">
                <h5>Details</h5>
                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                    {% if details.header.tag is equalto 'TxAsset' %}
                    <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric">From</th>
                            <th class="mdl-data-table__cell--non-numeric">Balance</th>
                            <th class="mdl-data-table__cell--non-numeric">To</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{details.header.contents.contents.fromAddr | shorten}}</td>
                            <td>{{details.header.contents.contents.balance}}</td>
                            <td>{{details.header.contents.contents.toAddr | shorten}}</td>
                        </tr>
                    </tbody>
                    {% endif %} {% if details.header.contents.tag is equalto 'Call' %}

                    <thead>
                        <tr>
                            <th>Contract Method Called</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{details.header.contents.contents}}</td>
                        </tr>
                    </tbody>
                    {% endif %} {% if details.header.tag is equalto 'TxAccount' %}
                    <thead>
                        <tr>
                            <th>Account Address</th>
                            <th>Timezone</th>
                            <th>Public Key</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{details.header.contents.contents.account.address | shorten}}</td>
                            <td>{{details.header.contents.contents.account.timezone}}</td>
                            <td>{{details.header.contents.contents.account.publicKey | shorten}}</td>

                        </tr>
                    </tbody>
                </table>
                <br><br>
                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                    <thead>
                        <tr>
                            <th>Metadata</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for key, value in details.header.contents.contents.account.metadata.iteritems() %}
                            <td><b>{{key}}:</b></td>
                            <td>{{value}}</td>
                            {% endfor %}
                        </tr>
                    </tbody>
                    {% endif %}
                </table>
            </div>
            {% endif %}
        </div>

    </div>
</main>
<script>
    // Click to copy for addresses
    function copyToClipboard(elementId) {
        var aux = document.createElement("input");
        aux.setAttribute("value", document.getElementById(elementId).innerHTML);
        document.body.appendChild(aux);
        aux.select();
        document.execCommand("copy");
        document.body.removeChild(aux);
    }
</script>
{% endblock %}