/*Custom Styles Here*/

.demo-card-wide.mdl-card {
    width: 512px;
}

.logo {
    width: 100px;
}

.demo-card-wide>.mdl-card__title {
    color: #333;
    height: 176px;
    background: url('teaser.png') center / cover;
}

.demo-card-square.mdl-card {
    width: 100%;
    min-height: 320px;
}

.demo-card-square>.mdl-card__title {
    color: #333;
    background: url('teaser.png') bottom left 0% no-repeat #F5F5F5;
}

.mdl-grid {
    margin: 0px;
}

.mdl-tooltip {
    max-width: 100% !important;
}
/*.mdl-snackbar.mdl-js-snackbar.mdl-snackbar--active*/
.mdl-snackbar__text{
  white-space: pre-wrap;
}
button.mdl-chip {
    cursor: pointer;
    font-family: monospace;
}

.hide {
    display: none !important;
}

.circle-btn {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 1;
    box-shadow: 10px 10px 14px -8px rgba(0, 0, 0, 0.75);
    color: white !important;
}

.mdl-textfield {
    width: 100%;
}

.flash {
    background: #ef5555;
    position: fixed;
    display: block;
    white-space: pre-line;
    z-index: 223;
    padding: 20px;
    color: white;
    bottom: 0;
}

#script {
    font-family: monospace;
    font-size: 12px;
    color: white;
    background: #484848;
    padding: 20px;
}

#json-pretty {
    font-family: monospace;
    color: #484848;
    font-size: 12px;
    background: #FFF;
}

.view-script {
    font-size: 12px;
}

.mdl-list__item {
    padding: 0 16px;
}

@media(max-width:479px) {
    .mobile-table-grid {
        overflow-x: scroll;
        overflow-scrolling: touch;
        -webkit-overflow-scroll: touch;
    }
}

.full-table {
    width: 100%;
}


/* ==========  Select Field ========== */

.dropdown-issuer-label {
    padding-left: 5px;
    font-size: 14px;
    color: grey;
}

select {
    font-family: inherit;
    background-color: transparent;
    width: 100%;
    padding: 4px 0;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.26);
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}


/* Remove focus */

select:focus {
    outline: none;
}


/* Hide label */

.mdl-selectfield label {
    display: none;
}


/* Use custom arrow */

.mdl-selectfield select {
    appearance: none;
}

.mdl-selectfield {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    position: relative;
}

.mdl-selectfield:after {
    position: absolute;
    top: 0.75em;
    right: 0.5em;
    /* Styling the down arrow */
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: .25em solid transparent;
    border-right: .25em solid transparent;
    border-top: 0.375em solid rgba(0, 0, 0, 0.12);
    pointer-events: none;
}
