/*Custom Styles Here*/

.demo-card-wide.mdl-card {
    width: 512px;
}

.demo-card-wide>.mdl-card__title {
    color: #333;
    height: 176px;
    background: url('teaser.png') center / cover;
}

.demo-card-square.mdl-card {
    width: 100%;
    min-height: 320px;
}

.demo-card-square>.mdl-card__title {
    color: #333;
    background: url('teaser.png') bottom left 0% no-repeat #F5F5F5;
}

.mdl-grid {
    margin: 0px;
}

.mdl-tooltip {
    max-width: 100% !important;
}

button.mdl-chip {
    cursor: pointer;
    font-family: monospace;
}

.hide {
    display: none !important;
}

.circle-btn {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 1;
    box-shadow: 10px 10px 14px -8px rgba(0, 0, 0, 0.75);
}

.mdl-textfield {
    width: 100%;
}

.flash {
    background: #ef5555;
    position: fixed;
    display: block;
    z-index: 223;
    padding: 20px;
    color: white;
    bottom: 0;
}

#script {
    /*padding: 20px;*/
    font-family: monospace;
    font-size: 12px;
    color: white;
    background: #484848;
}

.view-script {
    font-size: 12px;
}

.mdl-list__item {
    padding: 0 16px;
}

@media(max-width:479px) {
    .mobile-table-grid {
        overflow-x: scroll;
        overflow-scrolling: touch;
        -webkit-overflow-scroll: touch;
    }
}
