Flask == 0.10.1
Flask-Script == 0.4.0
requests == 2.11.1
functools32 >= 3.2.3-2
jinja2 >=2.6 

# crypto
base58 == 0.2.5
pysha3 == 1.0.2

# Testing
pytest == 3.0.6

# matrix-sdk-py
git+ssh://git@github.com/adjoint-io/matrix-sdk-py.git@master


# qr codes
git+git://github.com/lincolnloop/python-qrcode.git
git+git://github.com/ojii/pymaging.git#egg=pymaging
git+git://github.com/ojii/pymaging-png.git#egg=pymaging-png
