Flask == 0.10.1
Flask-Script == 0.4.0
requests == 2.11.1
jinja2 >=2.6 
gevent == 1.2.1

# crypto
base58 == 0.2.5
pysha3 == 1.0.2

# Testing
pytest == 3.0.6

# uplink-sdk-py
https://1f03a3dc3d760932d7a18ef163bee316ee4c57e9@github.com/adjoint-io/uplink-sdk-py/archive/master.zip


# qr codes
git+git://github.com/lincolnloop/python-qrcode.git
git+git://github.com/ojii/pymaging.git#egg=pymaging
git+git://github.com/ojii/pymaging-png.git#egg=pymaging-png



raven[flask]
gunicorn
