 {% extends "layout.html" %} {% block body %}

<main class="mdl-layout__content">
    <div class="page-content">
        <br>
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--8-col mobile-table-grid ">
                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                    <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric">Merkle Root</th>
                            <th class="mdl-data-table__cell--non-numeric">Timestamp</th>
                            <th class="mdl-data-table__cell--non-numeric">Origin</th>
                            <th class="mdl-data-table__cell--non-numeric">Previous Block</th>
                            <th class="mdl-data-table__cell--non-numeric">Transactions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if blocks is not none %} {% for block in blocks %}
                        <tr>
                            <td id="{{block.header.merkleRoot | shorten }}" class="mdl-data-table__cell--non-numeric">{{block.header.merkleRoot | shorten }}
                                <div class="mdl-tooltip" data-mdl-for="{{block.header.merkleRoot | shorten}}">
                                    {{block.header.merkleRoot}}
                                </div>
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">{{block.header.timestamp | datetimeformat}}</td>
                            <td id="{{block.header.origin | shorten}}" class="mdl-data-table__cell--non-numeric">{{block.header.origin | shorten}}
                                <div class="mdl-tooltip" data-mdl-for="{{block.header.origin | shorten}}">
                                    {{block.header.origin}}
                                </div>
                            </td>
                            <td id="{{block.header.prevBlock | shorten}}" class="mdl-data-table__cell--non-numeric">{{block.header.prevBlock | shorten}}
                                <div class="mdl-tooltip" data-mdl-for="{{block.header.prevBlock | shorten}}">
                                    {{block.header.prevBlock}}
                                </div>
                            </td>
                            <td>
                                <a href="{{ url_for('public.transactions', block_id = block.index) }}"><i class="material-icons">pageview</i></a>

                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">Nothing yet</td>
                        </tr>
                        {% endfor %} {% else %}
                        <tr>
                            <td>No blocks Created Yet</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
            <div class="mdl-cell mdl-cell--4-col  mdl-layout--large-screen-only">
                <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Community Edition</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        Welcome to the Block Explorer. This is a simple application to allow you to interact with blocks and transactions on the Uplink testnet.

                    </div>
                    <div class="mdl-card__menu">
                        <a href="http://github.com/adjoint-io" target="_blank" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                            <i class="material-icons">code</i>
                        </a>
                    </div>

                </div>
            </div>
        </div>

    </div>
</main>

{% endblock %}
