{% extends "layout.html" %} {% block body %}
<main class="mdl-layout__content">
    <div class="page-content">
        <br>
        <div class="mdl-cell mdl-cell--7-col" style="position:fixed;">
            <div class="demo-card-square mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Create New Contract</h2>

                </div>
                {% if new_contract_addr %}
                <div class="mdl-card__supporting-text">
                    <h6>New Contract Contract Address</h6>
                    <small>{{ new_contract_addr }}</small>
                </div>
                {% endif %}
                <form action="{{ url_for('public.create_contract') }}" method="post">
                    <div class="mdl-textfield mdl-js-textfield">
                        <textarea class="mdl-textfield__input" name="script" type="text" rows="25" id="script">{{script}}</textarea>
                        <label class="mdl-textfield__label" for="script">Enter Contract Script...</label>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="text" id="issuer" required name="issuer">
                            <label class="mdl-textfield__label" for="issuer">Issuer</label>
                        </div>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <button type="submit" name="submit" value="create_contract" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                            Create Contract
                        </button>
                    </div>
                </form>

            </div>
        </div>
        {% if contracts is not none %} {% for con in contracts %}
        <div class="mdl-cell mdl-cell--5-col mdl-cell--7-offset">

            <div class="demo-card-square mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Contract Address: {{con.address | shorten}}</h2>
                </div>
                <div class="mdl-grid mdl-cell--stretch">

                    <div class="mdl-cell mdl-cell--10-col">
                        <h6>Full Address</h6>
                        {{con.address}}
                        <h6>Script</h6>
                        <div class="mdl-card__actions mdl-card--border">
                            <pre contenteditable="false"><code class="view-script">{{con.script}}</code></pre>
                        </div>
                    </div>
                    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                        <thead>
                            <tr>
                                <th class="mdl-data-table__cell--non-numeric">Key</th>

                                <th class="mdl-data-table__cell--non-numeric">Values</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for key, value in con.storage.iteritems() %}
                            <tr>
                                {% if not value.tag is none %}
                                <td class="mdl-data-table__cell--non-numeric">{{key}}</td>
                                <td>{{value | remove_extra_value}}</td>
                                {% else %} {% endif %}
                            </tr>
                            {% else %}
                            <tr>
                                <td>Nothing in storage</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        {% else %}
        <h5>No contracts available</h5>
        {% endfor %} {% else %}
        <div class="mdl-cell mdl-cell--5-col mdl-cell--7-offset">
            <h5 style="text-align: right; padding-right:30px">No Contracts Created Yet</h5>
        </div>
        {% endif %}
    </div>

</main>
{% endblock %}