<!doctype html>

<head>
    <title>Uplink Explorer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!--<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">-->
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue_grey-light_blue.min.css" />
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.4.9/dialog-polyfill.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>


    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Uplink Explorer &nbsp;</span>
            <span class="mdl-chip mdl-chip--contact">
            <span class="mdl-chip__contact mdl-color--red mdl-color-text--white">{{peers}}</span>
            <span id="peer" class="mdl-chip__text">Peer Count</span>
            <div class="mdl-tooltip" data-mdl-for="peer">
                Number of peers in network
            </div>
            </span>

            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                <a class="mdl-navigation__link" href="https://www.adjoint.io">Adjoint</a>
                <a class="mdl-navigation__link" href="https://www.adjoint.io/docs">Documentation</a>
                <a class="mdl-navigation__link" href="https://github.com/adjoint-io">Github</a>
            </nav>
        </div>
    </header>

    <div style="width: 100%; padding: 1px; visibility: hidden;" id="loading-indicator" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>

    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title"><img class="logo" src="../static/adjoint-logo.png"></span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="{{ url_for('public.blocks') }}">Blocks</a>
            <a class="mdl-navigation__link" href="{{ url_for('public.accounts') }}">Accounts</a>
            <a class="mdl-navigation__link" href="{{ url_for('public.assets') }}">Assets</a>
            <a class="mdl-navigation__link" href="{{ url_for('public.contracts') }}">Contracts</a>
            <a class="mdl-navigation__link" href="{{ url_for('public.transactions_pending') }}">Pending Transactions</a>
        </nav>

        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation mdl-layout--large-screen-only">
            <p class="mdl-navigation__link">
                commit: {{ version.commit }}
            </p>
            <p class="mdl-navigation__link">
                dirty: {{version.dirty }}
            </p>
            <p class="mdl-navigation__link">
                version: {{ version.version }}
            </p>
            <p class="mdl-navigation__link">
                branch: {{version.branch}}
            </p>

        </nav>
    </div>

    {% for message in get_flashed_messages() %}

    <div aria-live="assertive" aria-atomic="true" aria-relevant="text" class="mdl-snackbar mdl-js-snackbar" id="demo-toast-example">
        <div class="mdl-snackbar__text"></div>
        <button type="button" class="mdl-snackbar__action"></button>
    </div>
    <script>
        var message = `{{message}}`
        message = message.replace(/&gt;/g,'>' )
        message = message.replace(/FCL>/g,"")
        document.addEventListener('DOMContentLoaded', function() {
            setTimeout(function() {
                var snackbarContainer = document.querySelector('#demo-toast-example');
                var data = {
			message: `${message}`,
			timeout: 10000,
		};
                snackbarContainer.MaterialSnackbar.showSnackbar(data);
            }, 2000);
        });

    </script>
    {% endfor %} {% block body %} {% endblock %}
</div>
<script>
    $(document).ready(function() {


        // Click to copy for addresses
        function copyToClipboard(elementId) {
            var aux = document.createElement("input");
            aux.setAttribute("value", document.getElementById(elementId).innerHTML);
            document.body.appendChild(aux);
            document.execCommand("copy");
            document.body.removeChild(aux);
        }


        for (var i = 0; i < document.forms.length; i++) {
            var form = document.forms[i];
            form.addEventListener("submit", _ => {

                loader = document.getElementById('loading-indicator').style.visibility = 'visible'

            }, false);
        }



    });
</script>
