{% extends "layout.html" %} {% block body %}

<main class="mdl-layout__content">
    <div class="page-content">
        <br>
        <div class="mdl-grid">
            <div class="mdl-layout-spacer"></div>
            <div  class="mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text"> {{title}} </h2>
                </div>
                <div class="mdl-card__supporting-text">

                    <p>{{message}}</p>
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    {{tag}}
                </div>
            </div>
            <div class="mdl-layout-spacer"></div>
        </div>
    </div>

</main>

{% endblock %}
