{% extends "layout.html" %} {% block body %}

<main class="mdl-layout__content">
    <div class="page-content">
        <br>
        <div class="mdl-grid">
            <div class="mdl-layout-spacer"></div>
            <div class="mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">RPC connection error</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    Failed to connect to the RPC server at <pre>{{config.RPC_HOST}}</pre>
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                        Try again
                    </a>
                </div>
            </div>
            <div class="mdl-layout-spacer"></div>
        </div>
    </div>

</main>

{% endblock %}
