{% extends "layout.html" %} {% block body %}
<main class="mdl-layout__content">
    <div class="page-content">
        <br>

        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--6-col mobile-table-grid">
                <h5>Transactions in block {{block_id}}</h5>
                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                    <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric">Timestamp</th>
                            <th class="mdl-data-table__cell--non-numeric">From Address</th>
                            <th class="mdl-data-table__cell--non-numeric">Signature</th>
                            <th class="mdl-data-table__cell--non-numeric">Transaction Type</th>
                            <th class="mdl-data-table__cell--non-numeric">Action</th>
                            <th class="mdl-data-table__cell--non-numeric"> </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if transactions %} {% for tx in transactions %}
                        <tr>

                            <td class="mdl-data-table__cell--non-numeric">{{tx.timestamp | datetimeformat}}</td>

                            <td id="{{tx.origin |shorten }}" class="mdl-data-table__cell--non-numeric" onclick="copyToClipboard('{{tx.origin | shorten}}copy')">{{tx.origin | shorten}}
                                <div class="mdl-tooltip" data-mdl-for="{{tx.origin | shorten }}" id="{{tx.origin | shorten }}copy">
                                    {{tx.origin}}
                                </div>
                            </td>

                            <td id="{{tx.signature |shorten }}" class="mdl-data-table__cell--non-numeric" onclick="copyToClipboard('{{tx.signature | shorten_key}}copy')">{{tx.signature | shorten_key}}
                                <div class="mdl-tooltip" data-mdl-for="{{tx.signature | shorten }}" id="{{tx.signature | shorten_key }}copy">
                                    {{tx.signature}}
                                </div>
                            </td>

                            {% if tx.header.tag is equalto 'TxAsset' %}
                            <td class="mdl-data-table__cell--non-numeric">Asset</td>
                            <td class="mdl-data-table__cell--non-numeric">{{tx.header.contents.tag}}</td>


                            {% endif %} {% if tx.header.tag is equalto 'TxContract' %}
                            <td class="mdl-data-table__cell--non-numeric">Contract</td>
                            <td class="mdl-data-table__cell--non-numeric">{{tx.header.contents.tag}}</td>


                            {% endif %} {% if tx.header.tag is equalto 'TxAccount' %}
                            <td class="mdl-data-table__cell--non-numeric">Account</td>
                            <td class="mdl-data-table__cell--non-numeric">{{tx.header.contents.tag}}</td>

                            {% endif %}
                            <td>
                                <a href="{{url_for('public.show_tx_details', block_id=block_id, tx_id=tx.signature)}}"> <i class="material-icons">pageview</i></a>
                            </td>
                        </tr>
                        {% else %} {% endfor %}{% else %}
                        <td>No transactions in block {{block_id}}</td> {% endif %}
                    </tbody>
                </table>
            </div>
            {% if details %}
            <div class="mdl-cell mdl-cell--4-col mobile-table-grid">
                <h5>Details</h5>
                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                    {% if details.header.contents.tag is equalto 'CreateAsset' %}
                    <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric">Asset Name</th>
                            <th class="mdl-data-table__cell--non-numeric">Asset Type</th>
                            <th class="mdl-data-table__cell--non-numeric">Reference</th>
                            <th class="mdl-data-table__cell--non-numeric">Supply</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{details.header.contents.contents.assetName}}</td>
                            <td>{{details.header.contents.contents.assetType.type}}</td>
                            <td>{{details.header.contents.contents.reference}}</td>
                            <td>{{details.header.contents.contents.supply | convert(details.header.contents.contents.assetType.type, details.header.contents.contents.assetType.precision )}}</td>

                        </tr>
                    </tbody>
                    {% endif %} {% if details.header.contents.tag is equalto 'Call' %}
                    <thead>
                        <tr>
                            <th>Contract</th>
                            <th>Method</th>
                            <th>Arguments</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td id="{{details.header.contents.contents.address |shorten }}" class="mdl-data-table__cell--non-numeric" onclick="copyToClipboard('{{details.header.contents.contents.address | shorten_key}}copy')">{{details.header.contents.contents.address | shorten_key}}
                                <div class="mdl-tooltip" data-mdl-for="{{details.header.contents.contents.address | shorten }}" id="{{details.header.contents.contents.address | shorten_key }}copy">
                                    {{details.header.contents.contents.address}}
                                </div>
                            </td>
                            <td>{{details.header.contents.contents.method}}</td>
                            <td>
                                {% for arg in details.header.contents.contents.args %}<span>{{arg}},</span> {% endfor %}
                            </td>
                        </tr>

                        {% endif %} {% if details.header.contents.tag is equalto 'CreateAccount' %}
                        <thead>
                            <tr>
                                <th>Timezone</th>
                                <th>Public Key</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{details.header.contents.contents.timezone}}</td>
                                <td id="{{details.header.contents.contents.pubKey |shorten }}" class="mdl-data-table__cell--non-numeric" onclick="copyToClipboard('{{details.header.contents.contents.pubKey | shorten_key}}copy')">{{details.header.contents.contents.pubKey | shorten_key}}
                                    <div class="mdl-tooltip" data-mdl-for="{{details.header.contents.contents.pubKey | shorten }}" id="{{details.header.contents.contents.pubKey | shorten_key }}copy">
                                        {{details.header.contents.contents.pubKey}}
                                    </div>
                                </td>

                            </tr>
                        </tbody>
                </table>
                <br><br>
                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                    <thead>
                        <tr>
                            <th>Metadata</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% if details.header.contents.contents.metadata %} {% for key, value in details.header.contents.contents.metadata.iteritems() %}
                            <td>{{key}} : {{value}}</td>{% endfor %} {% else %}
                            <td>No associated metadata</td>{% endif %}
                        </tr>
                    </tbody>
                    {% endif %}{% if details.header.contents.tag is equalto 'CreateContract' %}
                    <thead>
                        <tr>
                            <th>Contract Address</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{details.header.contents.contents.address}}</td>
                        </tr>
                    </tbody><br/>
                    <div class="mdl-card__actions mdl-card--border">
                        <pre contenteditable="false"><code class="view-script">{{details.header.contents.contents.contract}}</code></pre>
                    </div>
                    {% endif %} {% if details.header.contents.tag is equalto 'Transfer' %}

                    <thead>
                        <tr>
                            <th>Transfer From</th>
                            <th>Transfer To</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{details.header.contents.contents.assetAddr | shorten}}</td>
                            <td>{{details.header.contents.contents.toAddr | shorten}}</td>
                            <td>{{details.header.contents.contents.balance}}</td>
                        </tr>
                    </tbody> {% endif %}
                </table>
            </div>
            {% endif %}
        </div>

    </div>
</main>
<script>
    // Click to copy for addresses
    function copyToClipboard(elementId) {
        var aux = document.createElement("input");
        aux.setAttribute("value", document.getElementById(elementId).innerHTML);
        document.body.appendChild(aux);
        aux.select();
        document.execCommand("copy");
        document.body.removeChild(aux);
    }
</script>
{% endblock %}